<script>
  (function () {
    var faviconUrl = {{ '/assets/avatar-favicon.png' | relative_url | jsonify }};
    if (!faviconUrl) return;

    function upsertIcon(rel, url) {
      var link = document.head.querySelector('link[rel="' + rel + '"]');
      if (!link) {
        link = document.createElement('link');
        link.rel = rel;
        document.head.appendChild(link);
      }
      link.href = url;
      link.type = 'image/png';
    }

    upsertIcon('icon', faviconUrl);
    upsertIcon('shortcut icon', faviconUrl);
    upsertIcon('apple-touch-icon', faviconUrl);
  })();
</script>
